<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} · {{ .Site.Title }}{{ end }}</title>
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>
<body>
  <header>
    <h1><a href="{{ "/" | relURL }}">{{ .Site.Title }}</a></h1>
    <nav>
      {{ range .Site.Menus.main -}}
      <a href="{{ .URL }}">{{ .Name }}</a>
      {{- end }}
    </nav>
    <hr>
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    <hr>
    {{ with .Site.Params.footer }}
    <p>{{ . | safeHTML }}</p>
    {{ end }}
  </footer>
</body>
</html>
